:root {
    --header-blue: #1512d0;
    --major-cities: #c7dbe0;
    --hover: #345363;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
    background: linear-gradient(to left, var(--header-blue), #0c7b93);
    color: white;
    width: 99vw;
    max-width: 99vw;
    height: 75px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border-radius: 9px;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    width: 350px;
    margin: 5px 0;  
    /* display: flex;  */
}

.card-header {
    padding: 0 8px;
    flex-direction: row;
}

.card-body {
    padding: 0 13px 8px ;
    border: 2px solid #0c7b93;
    border-radius: 9px;
  }

.city-search {
    display: flex;
    flex-direction: column;
    margin: 20px 1px 0 11px;
    width: 290px;
    
}

.search-btn {
    background-color: #158ca7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 15px 1px 7px 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    box-shadow: 1px 2px rgb(14, 31, 35);
}

.cities-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0px 13px 0px;
    width: 320px;
    background-color: var(--major-cities);
    cursor: pointer;
}

.cities:hover {
    background-color: var(--hover);
    color: white;
    transform: translate(0,0);
    box-shadow: 0 0 10px #000000;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--major-cities);
    /* border: 1px solid var(--hover);
    border-radius: 5px; */
}
.five-weather-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid var(--hover);
    border-radius: 5px; */
}

.weather-icon {
    margin-left: 50px;
}

@media screen and (max-width: 500px) {
    .body {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 90%;
    }
    .city-search {
        width: 90%;
    }
    .search-btn {
        width: 90%;
    }
    .cities-btn {
        width: 90%;
    }
    .weather-container {
        width: 90%;
    }
    .five-weather-container {
        width: 90%;
    }
    .weather-icon {
        margin-left: 0px;
    }
}